
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/Style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<meta charset="utf-8" />
<title>Alterar Profissão</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Profissões TI</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home <span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link" href="/new">Infomar
						Carreiras </a></li>

			</ul>
		</div>
	</nav>
	<div class="container">

		<div class="jumbotron">

			<div align="left">

				<h1>Alterar Profissão</h1>
				<br />
				<form class="formAlterar" action="#" th:action="@{/save}"
					th:object="${profissao}" method="post">
					<table border="0" cellpadding="5">
						<tr>
							<td>Código:</td>
							<td><input type="text" class="form-control" th:field="*{id}"
								readonly="readonly" /></td>
						</tr>
						<tr>
							<td>Profissão:</td>
							<td><input type="text" class="form-control" width="48"
								height="48" th:field="*{profissao}" /></td>
						</tr>
						<tr>
							<td>Informações:</td>
							<td><textarea class="textarea" type="text"
									th:field="*{informacao}" /></td>
						</tr>
						<tr>
							<td>Salário:</td>
							<td><input type="number" class="form-control"
								th:field="*{salario}" /></td>
						</tr>
						<tr>
							<td>Capacitação:</td>
							<td><input type="text" class="form-control"
								th:field="*{capacitacao}" /></td>
						</tr>
						<tr>
							<td colspan="2"><button class="btn btn-primary"
									type="submit">Salvar</button></td>
						</tr>
					</table>
				</form>
			</div>


		</div>

	</div>
</body>
</html>
